@use "./variables";

.form {
	width: 100%;
	min-height: 100vh;
	background-color: variables.$primary-color;

	&__header {
		width: 100%;
		padding: 16px 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--logo {
			font-family: "Righteous", cursive;
			color: variables.$light-color;
			font-size: 28px;
		}

		&--btn {
			@include variables.buttonOutlined(
				transparent,
				16px,
				16px,
				12px,
				variables.$light-color,
				variables.$light-color,
				variables.$primary-color
			);

			@include variables.for-medium-screen {
				@include variables.buttonOutlined(
					transparent,
					32px,
					16px,
					16px,
					variables.$light-color,
					variables.$light-color,
					variables.$primary-color
				);
			}
			@include variables.for-large-screen {
				@include variables.buttonOutlined(
					transparent,
					32px,
					16px,
					16px,
					variables.$light-color,
					variables.$light-color,
					variables.$primary-color
				);
			}
		}
	}
}
