@use "./variables";

.form__container {
	position: absolute;
	top: 0;
	left: 0;
	padding: 32px;
	background-color: rgba(variables.$primary-color, 0.5);
	backdrop-filter: blur(10px);
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	

	@include variables.for-medium-screen {
		padding: 40px;
	}
	@include variables.for-extralarge-screen {
		padding: 56px;
	}

	.form__main {
		width: 100%;
		min-height: auto;
		background-color: variables.$light-color;
		padding: 32px 36px;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		gap: 24px;

		&--header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: variables.$primary-color;

			.heading {
				font-size: 28px;
				font-weight: 700;
			}

			.closeBtn {
				background-color: variables.$primary-color;
				color: variables.$light-color;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 12px;
				font-size: 24px;
				border-radius: 50px;
			}
		}

		&--inputs {
			display: grid;
			grid-template-columns: 1fr;
			gap: 16px 24px;

			@include variables.for-medium-screen {
				grid-template-columns: 1fr 1fr;
			}
			@include variables.for-extralarge-screen {
				grid-template-columns: 1fr 1fr 1fr;
			}

			.heading {
				font-weight: 700;
			}
			.input {
				display: flex;
				flex-direction: column;
				gap: 8px;
				color: variables.$primary-color;

				input {
					@include variables.input(
						rgba(variables.$primary-color, 0.1),
						28px,
						20px,
						12px,
						variables.$primary-color
					);
				}
			}
		}

		&--btns {
			display: flex;
			gap: 16px;
			align-items: center;
			.btn-submit {
				@include variables.buttonFilled(
					variables.$primary-color,
					28px,
					20px,
					12px,
					variables.$light-color
				);
			}
			.btn-reset {
				@include variables.buttonOutlined(
					variables.$light-color,
					28px,
					20px,
					12px,
					variables.$primary-color,
					variables.$primary-color,
					variables.$light-color
				);
			}
		}
	}
}
