@use "./variables";

.pagination {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-bottom: 32px;

	&__item {
		list-style-type: none;
		display: flex;
		align-items: center;
		width: 20px;
		height: 20px;
		font-size: 18px;
		justify-content: center;

		background-color: transparent;
		border: 1px solid variables.$light-color;
		box-sizing: content-box;
		padding: 12px 12px;
		border-radius: 50px;
		cursor: pointer;
		color: variables.$light-color;

		button {
			color: variables.$light-color;
			cursor: pointer;
			background-color: transparent;
			border: none;
			outline: none;
		}
		&:active,
		&:visited {
			background-color: transparent;
			border: 1px solid variables.$light-color;
		}
	}

	.active {
		background-color: variables.$light-color;
		button {
			cursor: pointer;
			color: variables.$primary-color;
			background-color: transparent;
			border: none;
			outline: none;
		}
	}

	&__active {
		list-style-type: none;
		display: flex;
		align-items: center;
		width: 20px;
		height: 20px;
		font-size: 18px;
		justify-content: center;
		background-color: transparent;
		border: 1px solid variables.$light-color;
		box-sizing: content-box;
		padding: 12px 12px;
		border-radius: 50px;
		cursor: pointer;

		button {
			cursor: pointer;
			width: 100%;
			height: 100%;
			color: variables.$light-color;
			background-color: transparent;
			border: none;
			outline: none;
		}
	}
}
