@use "../styles/variables";

.table {
	padding: 16px 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;

	&__search {
		display: flex;
		justify-content: space-between;
		// width: 50%;
		width: 90%;
		align-items: center;
		border: 1px solid variables.$light-color;
		color: variables.$light-color;
		padding: 8px 8px 8px 24px;
		border-radius: 50px;
		@include variables.for-medium-screen {
			width: 70%;
			grid-template-columns: 1fr 1fr;
		}
		@include variables.for-large-screen {
			width: 50%;
			grid-template-columns: 1fr 1fr 1fr;
		}
		&--input {
			background: none;
			outline: none;
			width: 100%;
			height: 100%;
			color: variables.$light-color;
			border: none;
		}

		&--btn {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 12px;
			background-color: variables.$light-color;
			color: variables.$primary-color;
			border: none;
			cursor: pointer;
			border-radius: 100%;
			outline: none;
			text-align: center;
			font-size: 20px;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-o-border-radius: 100%;
		}
	}

	&__heading {
		color: variables.$light-color;
		font-weight: 200;
		font-size: 28px;
	}

	table > thead > tr > th {
		background-color: variables.$light-color;
		padding: 16px;
		color: variables.$primary-color;
		border: 1px solid variables.$primary-color;
		.age__sort {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 8px;

			&--asc {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 4px;
				background-color: variables.$primary-color;
				color: variables.$light-color;
				border-radius: 50px;
				cursor: pointer;
			}
			&--desc {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 4px;
				background-color: variables.$primary-color;
				color: variables.$light-color;
				border-radius: 50px;
				cursor: pointer;
			}
		}
	}

	table > tbody > tr > td {
		background-color: transparent;
		border: 1px solid variables.$light-color;
		padding: 8px 12px;
		font-size: 14px;
		color: variables.$light-color;
		text-align: center;
	}

	td > .actions {
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: center;

		.btnEdit {
			display: flex;
			align-items: center;
			justify-content: center;
			@include variables.buttonOutlined(
				variables.$primary-color,
				12px,
				12px,
				16px,
				variables.$light-color,
				variables.$light-color,
				variables.$primary-color
			);
		}

		.btnDelete {
			display: flex;
			align-items: center;
			justify-content: center;
			@include variables.buttonFilled(
				variables.$light-color,
				12px,
				12px,
				16px,
				variables.$primary-color
			);
		}
	}
	&__tbl {
		border-collapse: collapse;
		text-align: center;
		width: 100%;
		display: block;
		overflow-x: auto;
		white-space: nowrap;
		margin: auto auto;
		@include variables.for-medium-screen {
			display: block;
		}
		@include variables.for-large-screen {
			display: table;
		}
		@include variables.for-extralarge-screen {
			display: table;
		}
	}
}
