@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap");

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

a {
	text-decoration: none;
}
